@import "../sass-utils/variables";

.form-section {
  margin-bottom: 1.5rem;
}

.preview-cv {
  height: 100vh;
  position: sticky;
  top: 10px;
  .cv-preview-header {
    padding: 1.5rem;
    box-sizing: border-box;
    color: $colour-white;
    .name {
      margin: 0;
      font-size: 3rem;
    }
    .title {
      margin: 0;
      font-size: 1.5rem;
    }
  }
  .cv-preview-main {
    padding: 3rem;
  }
}

.user-cv {
  padding: 3rem;
}
