.form-section {
  margin-bottom: 1.5rem;
}

.preview-cv {
  height: 100vh;
  position: sticky;
  top: 10px;
  .cv-preview-header {
    padding: 3rem;
  }
  .cv-preview-main {
    padding: 3rem;
  }
}

.user-cv {
  padding: 3rem;
}
