@import "../sass-utils/fonts";

body {
  height: 100vh;
  form {
    width: 700px;
    font-family: 'Roboto', sans-serif;
  }
  header {
    font-family: 'Roboto', sans-serif;
  }
}

@media only screen and (max-width: 1500px) {
  header {
    text-align: center;
  }
}
