@import "../sass-utils/fonts";

body {
  height: 100vh;
}

header {
  font-family: "Roboto", sans-serif;
}

form {
  font-family: "Roboto", sans-serif;
  width: 700px;
}

@media only screen and (max-width: 1500px) {
  header {
    text-align: center;
  }
}
